.about {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
}

.about-image {
  background-image: url(../img/piano.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: auto;
  min-height: 300px;
}

.about-container {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 50%;
  margin-right: 0;
}

.about-content {
  padding-left: 30px;
  padding-right: 15px;
  max-width: 600px;
}

.about-text {
  padding-bottom: 10px;
}

.about-link {
  display: block;
  margin-top: 30px;
  color: var(--brand-color);
  transition: all 0.3s;
}

.about-link:hover {
  text-decoration: underline;
}

@media (max-width: 991.98px) {
  .about-container {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .about-content {
    padding-left: 15px;
  }
}

@media (max-width: 767.98px) {
  .about {
    flex-direction: column-reverse;
  }

  .about-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .about-image {
    width: 100%;
  }

  .about-content {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

