.faq-accordion-box {
  margin-top: 10px;
}

.faq-accordion {
  padding: 20px 0 20px;
  width: 100%;
  border-top: 1px solid #C8C8C8;
  border-left: none;
  border-right: none;
  border-bottom: none;
  font-family: 'Hind', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--alternate-text-color);
  text-align: left;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
  background: transparent;
  position: relative;
}

.faq-accordion span {
  display: block;
  margin-right: 40px;
}

.faq-accordion--start {
  border-top: none;
}

.faq-accordion:after {
  content: "+";
  font-size: 24px;
  color: var(--main-text-color);
  opacity: 0.76;
  float: right;
  margin-left: 30px;
  position: absolute;
  top: 20px;
  right: 0;
}

.faq-accordion--active:after {
  content: "-";
}

.faq-accordion--end::after {
  content: none;
}

.faq-accordion-panel {
  display: none;
  overflow: hidden;
  padding-bottom: 20px;
  padding-right: 40px;
}

.faq-accordion-panel-text {
  text-align: left;
}

@media (max-width: 479.98px) {
  .faq-accordion {
    font-size: 16px;
  }
}