.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-top {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.footer-phone {
 
}
.footer-divider-line {
  height: 1px;
  width: 100%;
  background-color: var(--main-text-color);
}
.footer-bottom {
  font-size: 14px;
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-top: 30px;

}