.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-top {
  padding-bottom: 30px;
}

.footer-text {
  max-width: 650px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.footer-divider-line {
  height: 1px;
  width: 100%;
  background-color: var(--main-text-color);
}
.footer-bottom {
  font-size: 14px;
  display: flex;
  gap: 30px;
  justify-content: center;
}