.quote {
  background-image: url(../img/piano-bottom-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: bottom 50%;
}

.quote-description {
   text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: var(--background-color-dark);

}
