.quote {
  background-image: url(../img/notes-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
 }

.quote-text {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: var( --text-color-accent-dark);
  padding-bottom: 10px;
}

@media (max-width: 479.98px) {
  .quote-text {
    font-size: 18px;
  }
}