.quote {
  background-image: url(../img/notes-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
}

.quote-text {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: var(--background-color-dark);
  padding-bottom: 10px;
}
