.services-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.services-item {
  display: grid;
  grid-template-rows: 60% auto;
  gap: 20px;
  max-height: 500px;
  border-bottom: 2px solid var(--brand-color);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(238, 222, 232, 0.0739583) 0.01%, rgba(214, 221, 239, 0.2) 100.2%, rgba(253, 252, 253, 0.00729167) 100.21%, rgba(255, 255, 255, 0) 104%);
}

.services-item-img {
  width: 100%;
  height: 100%;
}

.services-item-img--lilac {
  object-position: 50% 30%;
}

.services-item-content {
  padding: 10px;
}

@media (max-width: 991px) {
  .services-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .services-items {
    grid-template-columns: 1fr;
  }
}