.testimonials-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
}

.testimonials-item {
  padding: 30px 20px;
  background-color: var(--alternate-text-color);
  color: var(--background-color-dark);
  position: relative;
}

.testimonials-item::before {
  content: "\266B";
  font-size: 30px;
  font-family: serif;
  top: -5px;
  right: 4%;
  position: absolute;
}


.testimonials-item-name {
  font-weight: 500;
}

.testimonials-item-text {
  padding-bottom: 10px;
  height: 130px;
}

.testimonials-item-date {
  font-size: 14px;
}

@media (max-width: 991px) {
  .testimonials-item-text {
    height: 200px;
  }
}

@media (max-width: 768px) {
  .testimonials-items {
    grid-template-columns: 1fr;
  }

  .testimonials-item-text {
    height: auto;
  }
}